.articles {
  padding: 4rem 0;
}

.articles__content {
  margin-top: 3rem !important;
}

@media (max-width: 992px) {
  .articles {
    padding: 3rem 0 !important;
  }

  .articles__content {
    margin-top: 2rem !important;
  }
}

@media (max-width: 576px) {
  .articles {
    padding: 2rem 0 !important;
  }

  .articles__content {
    margin-top: 1.5rem !important;
  }

  .articles__content .row > * {
    margin-bottom: 1.5rem !important;
  }
}
